:root {
    --green-forest: #004D3B;
    --green-standard: #006437;
    --green-water: #00A884;
    --blue: #3498DB;
    --grey-dark: #444444;
    --grey-light: #E5E7E9;
    --gold: #DAA520;
    --off-white: #F9F5E0;
}

* {
    font-family: 'Nunito', sans-serif;
    color: var(--off-white);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;

    background-color: var(--green-standard);
}