:root {
    --green-forest: #004D3B;
    --green-standard: #006437;
    --green-water: #00A884;
    --blue: #3498DB;
    --grey-dark: #444444;
    --grey-light: #E5E7E9;
    --gold: #DAA520;
    --off-white: #F9F5E0;
}

* {
    font-family: 'Nunito', sans-serif;
    color: var(--off-white);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;

    background-color: var(--green-standard);
}

main {
    margin: 20px 20px 5px 20px;
}


/* MENU ==========>>>>>>>>>> */

menu {
    display: flex;
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 60px;

    position: fixed;

    background-color: var(--green-forest); 
}

#logo {
    margin: auto;

    width: auto;
    height: 50px;
}

h1 {
    margin: auto;
    font-weight: 600;
    font-size: 18px;
    color: var(--off-white);
}

#menu-icon {
    margin: auto;
}

/* MENU <<<<<<<<<<========== */


/* DOWN-MENU ==========>>>>>>>>>> */

#down-menu {
    display: flex;
    margin: 0;
    padding: 0;

    width: 100%;
    height: auto;

    position: fixed;
    bottom: 0px;

    background-color: var(--green-forest);
}

.down-menu-cell {
    display: flex;
    margin: auto;
    width: 100%;
}

.down-menu-cell button {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin: 10px;
    background-color: var(--green-forest);
    width: 100%;
    height: auto;
    border: none;
    font-size: 16px;
}

.down-menu-cell button img {
    width: 30px;
    height: auto;
}

#add-bttn img {
    width: 50px;
    height: auto;
}

/* DOWN-MENU <<<<<<<<<<========== */