:root {
    --green-forest: #004D3B;
    --green-standard: #006437;
    --green-water: #00A884;
    --blue: #3498DB;
    --grey-dark: #444444;
    --grey-light: #E5E7E9;
    --gold: #DAA520;
    --off-white: #F9F5E0;
    --red: #FD0000;
}

* {
    font-family: 'Nunito', sans-serif;
    color: var(--off-white);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;

    background-color: var(--green-standard);
}

main {
    margin: 60px 20px 5px 20px;
}

/* MENU ==========>>>>>>>>>> */

menu {
    display: flex;
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 60px;

    position: fixed;

    background-color: var(--green-forest); 
}

#logo {
    margin: auto;

    width: auto;
    height: 50px;
}

h1 {
    margin: auto;
    font-weight: 600;
    font-size: 18px;
    color: var(--off-white);
}

#menu-icon {
    margin: auto;
    width: 40px;
    height: auto;
}

/* MENU <<<<<<<<<<========== */


/* HEADER PLAYER ==========>>>>>>>>>> */

#header-player {
    display: flex;
    
    background-color: var(--green-forest);
    
    height: 100px;
    
    border-radius: 15px;
    border-style: solid;
    border-width: 8px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-color: var(--green-water);
    
    margin-top: 20px;
    margin-bottom: 20px;
}

#header-player h2 {
    margin: auto;
}

/* HEADER PLAYER <<<<<<<<<<========== */


/* PLAYER ==========>>>>>>>>>> */

.player {
    display: flex;
    
    margin-top: 10px;
    margin-bottom: 10px;
    
    border-radius: 10px;
    border-style: solid;
    border-width: 7px;
    border-color: var(--green-forest);
    border-top: none;
    border-right: none;
    border-bottom: none;

    height: 50px;

    background-color: var(--grey-light);
}

.player h4 {
    margin: auto auto auto 30px;

    font-weight: 400;
    color: var(--green-forest);
}

.player img {
    width: auto;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}

/* PLAYER <<<<<<<<<<========== */


/* PM MODAL =========>>>>>>>>> */

#pm-modal-overlay {
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.7);

    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    z-index: 999;
}

#pm-modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

#pm-modal {
    background-color: var(--grey-light);
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    height: auto;

    position: relative;
    z-index: 1;
}

#close-container {
    display: flex;
}

#close-container img {
    margin: 10px 10px auto auto;
    width: 30px;
    height: auto;
}

#button-container {
    display: flex;
}

#button-container a {
    margin: 20px auto 20px auto;
}

#button-container button {
    background-color: var(--green-forest);
    width: 160px;
    height: 50px;
    font-size: 18px;
    border-style: none;
    border-radius: 5px;
}

/* PM MODAL <<<<<<<<<<========== */


/* PL MODAL ==========>>>>>>>>>> */

#pl-modal-overlay {
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.7);

    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    z-index: 900;
}

#pl-modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

#pl-modal {
    background-color: var(--grey-light);
    border-radius: 10px;
    width: 80%;
    height: auto;
    padding: 20px;

    position: relative;
    z-index: 1;
}

#pl-modal div {
    display: flex;
    margin: 10px auto auto auto;
}

#pl-modal div:first-child {
    margin: 0;
}

#pl-modal h3 {
    color: var(--green-forest);
    font-size: 24px;
    margin: 0;
}

#pl-modal input {
    height: 40px;
    color: var(--grey-dark);
    font-size: 18px;
    border-radius: 5px;
    border-style: none;
}

#pl-modal img {
    width: 30px;
    height: auto;
}

#close-icon, #nwcl-icon {
    margin: auto 10px auto auto;
}

#edit-icon {
    margin: auto auto auto 10px;
}

#pl-modal button {
    width: 100px;
    height: 40px;
    font-size: 18px;
    margin: 10px auto auto auto;
    border-radius: 5px;
}

.default-bttn {
    background-color: var(--green-forest);
    border-style: none;
}

.remove-bttn {
    background-color: var(--grey-light);
    color: var(--red);
    border-style: solid;
    border-color: var(--red);
}

#player-info h3 {
    display: flex;
    margin: auto;
}

/* PL MODAL <<<<<<<<<<========== */


/* NWPL MODAL ==========>>>>>>>>>> */

#nwpl-modal-overlay {
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.7);

    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    z-index: 999;
}

#nwpl-modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

#nwpl-modal {
    background-color: var(--grey-light);
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    height: auto;
    padding: 20px;

    position: relative;
    z-index: 1;
}

#nwpl-modal div {
    display: flex;
    margin: 10px auto auto auto;
}

#nwpl-modal div:first-child {
    margin: 0;
}

#nwpl-modal h3 {
    color: var(--green-forest);
    font-size: 24px;
    margin: 0;
}

#nwpl-modal input {
    width: 100%;
    height: 40px;
    color: var(--grey-dark);
    font-size: 18px;
    border-radius: 5px;
    border-style: none;
}

#nwpl-modal img {
    width: 30px;
    height: auto;
}

#nwpl-modal button {
    width: 100px;
    height: 40px;
    font-size: 18px;
    margin: 10px auto auto auto;
    border-radius: 5px;
}

/* NWPL MODAL <<<<<<<<<<========== */

/* CONFIRMATION MODAL ==========>>>>>>>>>> */

#confirmation-modal-overlay {
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.7);

    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    z-index: 999;
}

#confirmation-modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

#confirmation-modal {
    background-color: var(--grey-light);
    width: 50%;
    border-radius: 10px;
    padding: 10px;
    height: auto;
}

#confirmation-modal h3 {
    color: var(--green-forest);
    margin: auto;
}

#confirmation-modal div {
    display: flex;
}

#confirmation-modal button {
    width: 100px;
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
    margin: 15px auto;
}

/* CONFIRMATION MODAL <<<<<<<<<<========== */


/* DOWN-MENU ==========>>>>>>>>>> */

#down-menu {
    display: flex;
    margin: 0;
    padding: 0;

    width: 100%;
    height: auto;

    position: fixed;
    bottom: 0px;

    background-color: var(--green-forest);
}

.down-menu-cell {
    display: flex;
    margin: auto;
    width: 100%;
}

.down-menu-cell a {
    margin: auto;
    text-decoration: none;
}

.down-menu-cell button {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin: 10px auto;
    background-color: var(--green-forest);
    width: 100%;
    height: auto;
    border: none;
    font-size: 16px;
}

.down-menu-cell button img {
    width: 30px;
    height: auto;
}

#add-bttn img {
    width: 50px;
    height: auto;
}

/* DOWN-MENU <<<<<<<<<<========== */