body {
    background-color: #f2f2f2;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 80px;
    margin-bottom: 80px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color:darkslategray;
}

h2 {
    margin-top: 50px;
    color: dimgray;
}

h3 {
    margin-top: 20px;
    color: lightslategrey;
    margin-left: 10px;
}

article {
    text-align: justify;
}